<?xml version="1.0"?>
<!--
/**
 * Copyright © Buhmann. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smile\ElasticsuiteCatalog\Block\Navigation">
        <plugin name="buhmann_catalog_elasticsuite_navigation" type="Buhmann\CatalogSmile\Plugin\Block\Navigation" sortOrder="10" />
    </type>
</config>
